@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    var(--font-inter),
    Inter,
    system-ui,
    -apple-system,
    sans-serif;
  font-feature-settings: 'cv11', 'ss01';
  font-variation-settings: 'opsz' 32;
}

.heading {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .heading {
    font-size: 3.75rem;
  }
}

.subheading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .subheading {
    font-size: 1.875rem;
  }
}

.description {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .description {
    font-size: 1.25rem;
  }
}

.subdescription {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b7280;
}

@media (min-width: 768px) {
  .subdescription {
    font-size: 1.125rem;
  }
}

/* Animation */
.path-animation {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s ease-in-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 4px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #e0e7ff;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f46e5;
}

/* Ensure Google autocomplete dropdown is visible above modals */
.pac-container {
  z-index: 9999 !important;
}
